<nav class="ui menu">
  <div class="header item">Patients Menu</div>
  <div class="header item"><%= link_to "New Patient", new_patient_path %></div>
</nav>
<h1>Patients</h1>
<hr>
<ul>
<%= @patients.each do |p| %>
<li>
  <%= p.full_name %>
</li>
<%end%>
</ul>


