<nav class="ui menu">
  <div class="header item">MEGAPPOINMENT</div>
  <div class="item"><%= link_to "Docs", doctors_path %></div>
  <div class="item"><%= link_to "Appointments"%></div>
  <div class="item"><%= link_to "Patients", patients_path %></div>
</nav>